<!DOCTYPE HTML>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Home</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="56x56" href="static/assets/images/fav-icon/icon.png">
	<!-- bootstrap CSS -->
	<link rel="stylesheet" href="static/assets/css/bootstrap.min.css" type="text/css" media="all">
	<!-- Main Style CSS -->
	<link rel="stylesheet" href="static/assets/css/style.css" type="text/css" media="all">  
	<!-- responsive CSS -->
	<link rel="stylesheet" href="static/assets/css/responsive.css" type="text/css" media="all">
	<!-- modernizr js -->
	<script src="static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
	<link href="https://fonts.cdnfonts.com/css/clash-display" rel="stylesheet">
                
                
</head>

<body>



	<!-- loader -->
	<div id="loftloader-wrapper" class="end-split-h loftloader-waterfilling loftloader-forever">
		<div class="loader-bg"></div>
		<div class="loader-inner">
			<div id="loader"><span></span></div>
		</div>
	</div>


	<!--==================================================-->
	<!-- Start Dreamhub Header Top Menu Area Css -->
	<!--==================================================-->

	<div class="header_top_menu">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-4 col-sm-4">
					<div class="header_top_menu_icon">
						<div class="header_top_menu_icon_inner">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<!--==================================================-->
	<!-- End	Dreamhub Header Top Menu Area Css -->
	<!--===================================================-->


	<!--==================================================-->
	<!-- Start Dentist Main Menu  -->
	<!--==================================================-->
	<div id="sticky-header" class="dentist_nav_manu">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-2">
					<div class="logo">
						<a class="logo_img" href="#" title="dentist">
							<img src="static/assets/images/thyroid.png" alt="logo">
						</a>
						<a class="main_sticky" href="#" title="dentist">
							<img src="static/assets/images/thyroid.png" alt="logo">
						</a>
					</div>
				</div>
				<div class="col-lg-10">
					<nav class="dentist_menu">
						<ul class="nav_scroll">
							<li><a href="#">Home</a></li>
														
						</ul>
						<!-- header button -->
						<div class="header-right">
							<div class="header-button">
								<a href="/logon">Register</a>
								<a href="/login">Login</a>
							</div>
							
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>



	<!--==================================================-->
	<!-- Start dentist Hero Section  -->
	<!--==================================================-->

	<div class="hero-section d-flex align-items-center">
		<div class="container">
			<div class="row hero-bg">
				<div class="col-lg-6">
					<div class="hero-content">
						<h2>Welcome to Dashboard</h2> <br><br>
						<h5> An Intelligent Thyroid Diagnosis System Multiple Ensemble and Explainable Algorithms
							With Medical Supported Attributes </h5>
						
						
					</div>
				</div>
				<div class="col-lg-6">
					<div class="hero-thumb">
						<img src="static/assets/images/slider/Doctor-consultation.png" alt="">
						<div class="slider-shape">
							
							<div class="shape3"><img src="static/assets/images/slider/slider-shape3.png" alt=""></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--==================================================-->
	<!-- End dentist Hero Section  -->
	<!--==================================================-->

		


	<!--==================================================-->
	<!-- Start dentist About Section  -->
	<!--==================================================-->

	<div class="about-section">
		<div class="container">
			<div class="row about-bg">
				<div class="col-lg-6">
					<div class="about-thumb">
						<img src="static/assets/images/resource/about-img.png" alt="">
						<div class="about-shape">
							<div class="ab-shape1"><img src="static/assets/images/resource/about-shape1.png" alt=""></div>
							<div class="ab-shape2"><img src="static/assets/images/resource/about-shape2.png" alt=""></div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about-right">
						<div class="dentist-section-title">
							<h5>About</h5>
							<p>
								THYROID is one of the most prevalent diseases across the
								globe that occurs when the thyroid gland fails to produce
								a substantial amount of the relevant hormone. People with this
								disease experience specific symptoms that include but are not
								limited to laziness, weight gain, quickened heart rate, dry skin,
								and hair loss.
							</p>
							<p>
								The widespread impact of thyroid disease and its
								diagnosis is a challenging task for healthcare experts. The conventional technique for predicting such a vital disease is complex
								and time-consuming.
							</p>
							<p>
								First, to reduce the dimension
								of the dataset, three feature selection techniques were employed,
								including feature importance (FIS), information gain selections
								(IGS), and least absolute shrinkage and selection operator (LAS).
								Moreover, recommended medical references were considered while
								developing a feature set having the identical attributes as high-risk
								factors (HRF). Second, the models, including the three stage hybrid classifier (3SHC) and the three stage hybrid artificial neural
								network (3SHANN), are used as classifiers on the training data set
							</p>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--==================================================-->
	<!-- End dentist About Section  -->
	<!--==================================================-->




	<!-- Start Dentist Footer Section  -->
	<!--==================================================-->

	<div class="footer-section"> 
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="widget widgets-company-info">
						<div class="dreamhub-logo">
						<a class="logo_thumb" href="#" title="dreamhub">
							<img src="static/assets/images/thyroid.png" alt="">
						</a>
					</div>
						
						<div class="follow-company-icon">
							<a href="#"> <i class="fab fa-facebook-f"></i> </a>
							<a href="#"> <i class="fab fa-pinterest"></i> </a>
							<a href="#"> <i class="fab fa-instagram"> </i> </a>
							<a href="#"> <i class="fab fa-google"></i> </a>
						</div>
					</div>					
				</div>
				
			<div class="row footer-bg">
				<div class="col-lg-12 col-md-12">
					<div class="footer-bottom-content">
						<div class="footer-bottom-content-copy">
							<p></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	


	<!--==================================================-->
	<!-- End Dentist Footer Section  -->
	<!--==================================================-->




	<!--==================================================-->
	<!-- Start scrollup section -->
	<!--==================================================-->
	<div id="progress" class="progress hide">
		<div id="progress-value"></div>
	</div>
	<!--==================================================-->
	<!-- Start scrollup section -->
	<!--==================================================-->





	<script src="static/assets/js/vendor/jquery-3.6.2.min.js"></script>

	<script src="static/assets/js/popper.min.js"></script>

	<script src="static/assets/js/bootstrap.min.js"></script>

	<script src="static/assets/js/owl.carousel.min.js"></script>

	<script src="static/assets/js/jquery.counterup.min.js"></script>

	<script src="static/assets/js/waypoints.min.js"></script>

	<script src="static/assets/js/wow.js"></script>

	<script src="static/assets/js/imagesloaded.pkgd.min.js"></script>

	<script src="static/venobox/venobox.js"></script>

	<script src="static/assets/js/animated-text.js"></script>

	<script src="static/venobox/venobox.min.js"></script>

	<script src="static/assets/js/isotope.pkgd.min.js"></script>

	<script src="static/assets/js/jquery.meanmenu.js"></script>

	<script src="static/assets/js/jquery.scrollUp.js"></script>

	<script src="static/assets/js/custom.js"></script>

</body>

</html>